.txt-bg-achievement::before {
    content: "My Achivements";
  }
  
  .container-ach {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    padding-bottom: 100px;
  }
  
  .container-ach .box {
    position: relative;
    height: 420px;
    margin: 40px;
    background: #242a35;
    border-radius: 20px;
    transform-style: preserve-3d;
    overflow: hidden;
  }
  
  .container-ach .box .description {
    position: absolute;
    left: 10px;
    text-align: center;
    color: #fff;
    margin: 25px;
    font-size: 18px;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
    transition: 0.65s;
    opacity: 0;
    z-index: 10;
    top: 60%;
  }
  
  /* 
     Efecto al hacer hover con el rat칩n o 
     al aplicar la clase .hand-hover con la mano 
  */
  .container-ach .box:hover,
  .container-ach .box.hand-hover {
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  }
  
  /* 
     Al hover/hand-hover, mostrar la descripci칩n 
  */
  .container-ach .box:hover .description,
  .container-ach .box.hand-hover .description {
    opacity: 1;
  }
  
  /* 
     Imagen principal dentro de la caja 
  */
  .container-ach .box .ach-img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 250px;
    transition: 0.55s;
    z-index: 11;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0) rotate(0);
  }
  
  /* 
     Al hover/hand-hover, desplazar la imagen, cambiar tama침o y posici칩n 
  */
  .container-ach .box:hover .ach-img,
  .container-ach .box.hand-hover .ach-img {
    transform: translate3d(-50%, -50%, 100px);
    height: 110px;
    width: 110px;
    border-radius: 50%;
    top: 25%;
  }
  
  /* 
     Ajustes responsivos 
  */
  @media (min-width: 200px) and (max-width: 768px) {
    .txt-bg-achievement::before {
      font-size: 37px;
    }
  }
  
  @media (max-width: 1000px) {
    .container-ach {
      display: block;
      overflow: hidden;
    }
    .container-ach .box {
      margin: 40px auto;
    }
  }
  